footer.b-footer.b-footer--mt
  .container-xl
    .row
      .b-footer__col.col-sm-4.col-lg-3
        .b-footer__title.
          Phone
        a.b-footer__link.b-link.b-link--phone(href="tel:+32 50 31  28 32").
          +32 50 31  28 32
      .b-footer__col.col-sm-4.col-lg-3.h-mb-0
        .b-footer__title.
          Address
        .b-footer__addr.
          491 Merlin Crest Suite 963

    .b-footer__divider

    .row
      .b-footer__col.col-sm-4.col-lg-3
        .b-footer__title.b-footer__title--nav.
          Services
        ul.b-footer__nav
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Strategy Design
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Product Design
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Content Strategy
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Brand Strategy
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Development

      .b-footer__col.col-sm-4.col-lg-3
        .b-footer__title.b-footer__title--nav.
          Help And Advice
        ul.b-footer__nav
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              How it works
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Contact Support
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              FAQ
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Privacy Policy

      .b-footer__col.col-sm-4.col-lg-3.col-xl-2
        .b-footer__title.b-footer__title--nav.
          Company
        ul.b-footer__nav
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              About
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Blog
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Contact
          li.b-footer__nav-item
            a.b-footer__nav-link(href="#").
              Jobs

      .b-footer__col.b-footer__col--contacts.h-mb-0.col-auto.ml-auto
        .b-footer__title.b-footer__title--nav.
          Get in Touch
        .b-footer__text.
          Feel free to get in touch with us <br> via email
        a.b-footer__link-mail.b-link.b-link--mail(href="mailto:info.webovio@gmail.com").
          info.webovio@gmail.com
        .b-footer__socials
          a.b-footer__social-link(href="#")
            +use("#facebook", 12, 18)(class="b-footer__social-icon")
          a.b-footer__social-link(href="#")
            +use("#twitter", 18, 18)(class="b-footer__social-icon")
          a.b-footer__social-link(href="#")
            +use("#google", 18, 18)(class="b-footer__social-icon")
          a.b-footer__social-link(href="#")
            +use("#linkedin", 18, 18)(class="b-footer__social-icon")

    .b-footer__divider

    .b-footer__bottom.row
      .b-footer__col.col-sm-6
        a.b-footer__logo(href="#")
          img(src="images/logo.png", alt)
      .b-footer__col.b-footer__col--copy.col-auto
        .b-footer__copy.
          © 2020@webovio. All Rights Reserved.




