footer.b-footer
  .container-xl
    .row
      .b-footer__col.col-md-3
        .b-footer__title.
          Phone
        a.b-footer__link.b-link.b-link--phone(href="tel:+32 50 31  28 32").
          +32 50 31  28 32
      .b-footer__col.col-md-3.mb-0
        .b-footer__title.
          Address
        .b-footer__addr.
          491 Merlin Crest Suite 963

    .b-footer__divider

    .row
      .b-footer__col.col-md-3
        .b-footer__title.b-footer__title--nav.
          Services
        a.b-footer__nav-link(href="#").
          Strategy Design
        a.b-footer__nav-link(href="#").
          Product Design
        a.b-footer__nav-link(href="#").
          Content Strategy
        a.b-footer__nav-link(href="#").
          Brand Strategy
        a.b-footer__nav-link(href="#").
          Development 

      .b-footer__col.col-md-3
        .b-footer__title.b-footer__title--nav.
          Help And Advice
        a.b-footer__nav-link(href="#").
          How it works
        a.b-footer__nav-link(href="#").
          Contact Support
        a.b-footer__nav-link(href="#").
          Privacy Policy
        a.b-footer__nav-link(href="#").
          FAQ
          
      .b-footer__col.col-md-2
        .b-footer__title.b-footer__title--nav.
          Company
        a.b-footer__nav-link(href="#").
          About
        a.b-footer__nav-link(href="#").
          Blog
        a.b-footer__nav-link(href="#").
          Contact
        a.b-footer__nav-link(href="#").
          Jobs

      .b-footer__col.b-footer__col--contacts.col-auto.ml-auto
        .b-footer__title.b-footer__title--nav.
          Get in Touch
        .b-footer__text.
          Feel free to get in touch with us <br> via email
        a.b-footer__link-mail.b-link.b-link--mail(href="mailto:info.webovio@gmail.com").
          info.webovio@gmail.com
      
    .b-footer__divider.b-footer__divider--small
      
        

     
            
      