header.b-header
  .container-xl
    a.b-header__logo(href="#")
      img(src="images/logo.png", alt="webovio")
    button.b-header__hamburger(type="button")
      .toggle
        .toggle__inner
    .b-header__inner
      .b-header__menu
.b-mobile-menu
  button.b-mobile-menu__close
    .toggle.toggle--cross
  ul.b-mobile-menu__menu
    li.b-mobile-menu__item
      a.b-mobile-menu__link(href="#").
        Home
    li.b-mobile-menu__item
      a.b-mobile-menu__link(href="#").
        About us
    li.b-mobile-menu__item
      a.b-mobile-menu__link(href="#").
        Services
    li.b-mobile-menu__item
      a.b-mobile-menu__link(href="#").
        Contacts
    li.b-mobile-menu__item
      a.b-mobile-menu__link(href="#").
        FAQ