include ../mixins
block variables
doctype html
html(lang="en")
  head
    include head
  body
    include ../../../images/sprite.svg
    main.content-wrapper
      include header
      block content
      include footer
    include scripts
