block variables
doctype html
html(lang="en")
  head
    include head
  body
    include header
    main
      block content
    include footer
    block before_scripts
    include scripts
    block after_scripts