extends ../partial/layout

block variables
  - var title = "Webovio"

block content 
  .b-hero(style="background-image: url('images/hero.png')")
    .container-xl
      .row
        .b-hero__content.col-md-7
          span.b-hero__meta.
            A place where
          h1.b-hero__title.h-font-lg-60.h-font-40.
            A creative agency for redemptive brands
          p.b-hero__description.
            Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
          a.b-link(href="#").b-link--has-icon.b-link--underline.
            Get in touch

  section.b-section.b-section--slider.h-py-0
    .container-xl
      .b-clients-slider-container
        .b-clients-slider-container__inner.container-xl
          .b-clients-slider
            img.b-clients-slider__item(src="images/clients/andrew-porter.png", alt)
            img.b-clients-slider__item(src="images/clients/17_Jalen-Rose-Leadership-Academy-Logo.png", alt)
            img.b-clients-slider__item(src="images/clients/Ideal.png", alt)
            img.b-clients-slider__item(src="images/clients/PhalenLeadership.png", alt)
            img.b-clients-slider__item(src="images/clients/Wal.png", alt)








