extends ../partial/layout

block variables
  - var title = "Webovio"

block content 
  section.b-hero(style="background-image: url('images/hero.png')")
    .container-xl
      .row
        .b-hero__content.col-md-7
          span.b-hero__meta.
            A place where
          h1.b-hero__title.h-font-lg-60.h-font-30.
            A creative agency for redemptive brands
          p.b-hero__description.
            Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
          a.b-link(href="#").b-link--has-icon.b-link--underline.
            Get in touch

  section.b-section.b-section--slider.h-py-0
    .container-xl
      .b-clients-slider-container
        .b-clients-slider-container__inner.container-xl
          .b-clients-slider
            img.b-clients-slider__item(src="images/clients/andrew-porter.png", alt)
            img.b-clients-slider__item(src="images/clients/17_Jalen-Rose-Leadership-Academy-Logo.png", alt)
            img.b-clients-slider__item(src="images/clients/Ideal.png", alt)
            img.b-clients-slider__item(src="images/clients/PhalenLeadership.png", alt)
            img.b-clients-slider__item(src="images/clients/Wal.png", alt)

  section.b-section.b-section--strategy
    .container-xl
      .row
        .b-section__left-col.col-md-6
          h2.b-section__title.h-font-20.h-font-md-40.
            Strategy. Design  Content. Technology
            Development 
          p.b-section__description.
            There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
          a.b-link.b-link--has-icon.b-link--underline.b-link--base(href="#").
            Learn more about us
        .b-section__right-col.col
          .b-section__testimonial.testimonial
            .testimonial__content.
              With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
            .testimonial__profile
              img.testimonial__avatar(src="images/oval.png", alt)
              .testimonial__profile-inner
                .testimonial__name.
                  Genevieve Rodriquez
                .testimonial__role.
                  Founder & CEO, Webovio
  
  .b-section-divider
  
  section.b-section.b-section--projects
    .container-xl
      .row.align-items-center.h-mb-40.h-mb-md-0
        .b-section__left-col.col-md-4
            h2.b-section__title.h-mb-0.h-font-20.h-font-md-40.
              We Have Some
              Awesome Projects.
        .b-section__right-col.col-md-6
          p.b-section__description.h-mb-0.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    .h-mt-md-120
        .container-xl
          .b-project.b-project--left.row
            .b-project__left-col.col-md-6
              .b-project__header
                .b-project__image(style="background-image: url('images/balenciaga.png')", alt)
                .b-project__testimonial.testimonial
                  .testimonial__content.
                    “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
                  .testimonial__profile
                    img.testimonial__avatar(src="images/armstrong.png", alt)
                    .testimonial__profile-inner
                      .testimonial__name.
                        Angel Armstrong
                      .testimonial__role.
                        Founder & CEO, Webovio
            .b-project__right-col.col
              .b-project__info
                h2.b-project__title.h-font-20.h-font-md-40.
                  The way new 
                  Balenciaga.com
                p.b-project__description.
                  This article is floated online with an aim to help you find the best dvd printing solution.
                p.b-project__description.
                  Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                a.b-link.b-link--underline.b-link--base.b-link--has-icon(href="#").
                  See Case Study

          .b-project.b-project--right.row
            .b-project__left-col.col
              .b-project__info
                h2.b-project__title.h-font-20.h-font-md-40.
                  Is this the future of 3D model?
                p.b-project__description.
                  This article is floated online with an aim to help you find the best dvd printing solution.
                p.b-project__description.
                  Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                a.b-link.b-link--underline.b-link--base.b-link--has-icon(href="#").
                  See Case Study
            .b-project__right-col.col-md-6
              .b-project__header
                .b-project__image(style="background-image: url('images/3D.png')", alt)
                .b-project__testimonial.testimonial
                  .testimonial__content.
                    “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.”
                  .testimonial__profile
                    img.testimonial__avatar(src="images/hart.png", alt)
                    .testimonial__profile-inner
                      .testimonial__name.
                        Angel Armstrong
                      .testimonial__role.
                        Founder & CEO, Webovio

          .b-project.b-project--left.row
            .b-project__left-col.col-md-6
              .b-project__header
                .b-project__image(style="background-image: url('images/balenciaga.png')", alt)
                .b-project__testimonial.testimonial
                  .testimonial__content.
                    “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
                  .testimonial__profile
                    img.testimonial__avatar(src="images/Eunice.png", alt)
                    .testimonial__profile-inner
                      .testimonial__name.
                        Eunice Oliver
                      .testimonial__role.
                        Founder & CEO, Zeem
            .b-project__right-col.col
              .b-project__info
                h2.b-project__title.h-font-20.h-font-md-40.
                  Is this the future of 
                  Online Booking
                p.b-project__description.
                  This article is floated online with an aim to help you find the best dvd printing solution.
                p.b-project__description.
                  Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                a.b-link.b-link--underline.b-link--base.b-link--has-icon(href="#").
                  See Case Study

  .b-section-divider

  section.b-section
    .container-xl
      .row
        .col-md-7
          h2.b-section__title.h-font-20.h-font-md-40.
            Deation & Evaluation - Best Way to Kick off Your Product Idea
      .row
        .col-md-3.col-sm-6
          .b-service.b-card
            .b-card__header
              h4.b-service__title.h-font-20.
                Product <br> design sprint
            .b-card__body
              p.b-service__content.
                A five-day workshop that will help you answer crucial business questions
            .b-card__footer
              a.b-link.b-link--base.b-link--underline.b-link--has-icon(href="#") Read more
        .col-md-3.col-sm-6
          .b-service.b-card
            .b-card__header
              h4.b-service__title.h-font-20.
                Scoping <br> Session
            .b-card__body
              p.b-service__content.
                A workshop aimed at shaping your business idea, answering questions regarding project planning
            .b-card__footer
              a.b-link.b-link--base.b-link--underline.b-link--has-icon(href="#") Read more
        .col-md-3.col-sm-6
          .b-service.b-card
            .b-card__header
              h4.b-service__title.h-font-20.
                UX <br> Review
            .b-card__body
              p.b-service__content.
                An evaluation which will help you radically improve your product.
            .b-card__footer
              a.b-link.b-link--base.b-link--underline.b-link--has-icon(href="#") Read more
        .col-md-3.col-sm-6
          .b-service.b-card
            .b-card__header
              h4.b-service__title.h-font-20.
                Code <br> Review
            .b-card__body
              p.b-service__content.
                Do you know what one of the key secrets of success is what makes people successful in business
            .b-card__footer
              a.b-link.b-link--base.b-link--underline.b-link--has-icon(href="#") Read more
  
  section.b-section.b-section--services
      .b-section__container.container-xl
        .row
          .col-md-8
            h1.b-section__title.h-font-md-60.h-font-20.
              Let's make something amazing together.      
            a.b-link.b-link--base.b-link--underline.b-link--has-icon(href="#") LET'S GET STARTED

