extends ../partial/layout

block variables
  - var title = "Webovio"

block content 
  .b-hero(style="background-image: url('images/hero.png')")
    .container-xl
      .row
        .b-hero__content.col-md-7
          span.b-hero__meta.
            A place where
          h1.b-hero__title.h-font-lg-60.h-font-40.
            A creative agency for redemptive brands
          p.b-hero__description.
            Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
          a.b-link(href="#").b-link--has-icon.b-link--underline.
            Get in touch


  