%button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  line-height: 1;
  display: inline-block;
}

:focus,
button:focus {
  outline: none;
}

.h-overflow-x-visible {
  overflow-x: visible !important;
}

.h-overflow-x-hidden {
  overflow-x: hidden !important;
}

.h-overflow-x-auto {
  overflow-x: auto !important;
}

.h-overflow-y-visible {
  overflow-y: visible !important;
}

.h-overflow-y-hidden {
  overflow-y: hidden !important;
}

.h-overflow-y-auto {
  overflow-y: auto !important;
}

.b-link {
  display: inline-block;
  position: relative;
  font-weight: 700;
  &--underline {
    &,
    &:hover {
      text-decoration: underline;
    }
  }

  &--has-icon {
    padding-left: 15px;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      left: 0;
      border-left: 6px solid $primary;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      width: 0;
      height: 0;
    }

    &:hover {
      color: darken($primary, 15%);
      &::before {
        border-left-color: darken($primary, 15%);
      }
    }
    
  }

  &--base {
    color: #d4d6d4;
    &:hover {
      color: $primary;
      &::before {
        border-left-color: $primary;
      }
    }
    &::before {
      border-left-color: #d4d6d4;
    }
  }
}

.mobile-menu-is-shown {
  overflow: hidden;
  .b-mobile-menu {
    transform: translateX(0);
  }
}

.content-wrapper {
  /* overflow-x: hidden; */
  position: relative;
  z-index: 2;
}
