.b-header {
  padding: 24px 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;

  & > .container-xl {
    display: flex;
    align-items: center;
  }

  &__hamburger {
    @extend %button;
    margin-left: auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }

  &__logo img{
    height: 30px;
    width: auto;

    @include media-breakpoint-up(sm) {
      height: 40px;
    }
  }

  &__menu {

  }

}