.b-project {
  $parent: &;
  position: relative;

  &__title {
    @extend .b-section__title;
  }

  &__description {
    @extend .b-section__description;
  }

  &__image {
    width: 100%;
    height: 200px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(md) {
      height: 100%;
      width: auto;
    }
  }

  &__testimonial {
    @include media-breakpoint-up(md) {
      max-width: 455px;
      position: absolute;
    }
  }

  &__left-col,
  &__right-col {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }
  }

  &__right-col {
  }

  &__header {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      width: 50vw;
      height: 100%;
    }
  }

  &--left {
    #{$parent}__header {
      @include media-breakpoint-up(md) {
        padding: 0 40px 40px 0;
        right: 0;
      }
    }
    #{$parent}__right-col {
      @include media-breakpoint-up(md) {
        padding: 80px 50px 120px 50px;
      }
    }
    #{$parent}__testimonial {
      @include media-breakpoint-up(md) {
        bottom: 0;
        right: 0;
      }
    }
  }

  &--right {
    #{$parent}__header {
      @include media-breakpoint-up(md) {
        padding: 0 0 40px 40px;
        left: 0;
      }
    }
    #{$parent}__left-col {
      @include media-breakpoint-up(md) {
        padding: 80px 50px 120px 50px;
      }
    }
    #{$parent}__testimonial {
      @include media-breakpoint-up(md) {
        bottom: 0;
        left: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
  }
}
