.b-section {
  $parent: &;
  padding-top: 60px;
  padding-bottom: 60px;

  &--slider {
    @include media-breakpoint-up(lg) {
      margin-top: -100px;
    }
  }

  &--strategy {
    #{$parent}__testimonial {
      padding-top: 120px;
    }
    #{$parent}__left-col {
      @include media-breakpoint-up(lg) {
        padding-right: 100px;
      }
    }
    #{$parent}__right-col {
      @include media-breakpoint-up(lg) {
        margin-top: -120px;
        padding-left: 70px;
      }
    }
  }

  &--projects {
    #{$parent}__right-col {
      @include media-breakpoint-up(lg) {
        padding-left: 120px;
      }
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__description {
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.b-section-divider {
  @extend .container-xl;
  &::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid rgba(#213842, 0.1);
  }
  
  width: 100%;
}
