.b-clients-slider-container {
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
  box-shadow: 50px 50px 100px rgba($black, 0.15);
  width: 100vw;
  &__inner {
    margin: 0;
    padding: 60px $grid-gutter-width 60px 65px;
  }
}

.b-clients-slider {
  .slick-slide {
    margin: 0 30px;
  }
  .slick-list {
    margin: 0 -30px;
  }
  &__item {
    width: 100%;
    height: auto;
  }
}
