.svg-facebook-dims {
	width: 320px;
	height: 512px;
}

.svg-google-dims {
	width: 640px;
	height: 512px;
}

.svg-linkedin-dims {
	width: 448px;
	height: 512px;
}

.svg-twitter-dims {
	width: 512px;
	height: 512px;
}

