@each $breakpoint, $breakpoint-value in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    @each $prop, $abbrev in (margin: h-m, padding: h-p) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}t#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }

    @each $font-size, $font-size-value in $font-sizes {
      .h-font#{$infix}-#{$font-size} {
        font-size: $font-size-value !important;
      }
    }
  }
}

.h-overflow-x-visible {
  overflow-x: visible !important;
}

.h-overflow-x-hidden {
  overflow-x: hidden !important;
}

.h-overflow-x-auto {
  overflow-x: auto !important;
}

.h-overflow-y-visible {
  overflow-y: visible !important;
}

.h-overflow-y-hidden {
  overflow-y: hidden !important;
}

.h-overflow-y-auto {
  overflow-y: auto !important;
}

.h-d-flex  {
  display: flex !important;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
